
<div class="row">
  <div class="card">
    <div class="item">
      <div class="card__content">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <div class="card__title">26/03/2020 14h00</div>
        <div class="card__sub-title">Clinica Kids</div>
        <p>Consulta de puericultura</p>
        <p>Dra. Ana Marta</p>
        <p>Medica</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="item">
      <div class="card__content">
        <i class="fa fa-times-circle-o"></i>
        <div class="card__title">26/03/2020 14h00</div>
        <div class="card__sub-title">Clinica Kids</div>
        <p>Consulta de puericultura</p>
        <p>Dra. Ana Marta</p>
        <p>Medica</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="item">
      <div class="card__content">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <div class="card__title">26/03/2020 14h00</div>
        <div class="card__sub-title">Clinica Kids</div>
        <p class="card__text">Consulta de puericultura</p>
        <p class="card__text">Dra. Ana Marta</p>
        <p class="card__text">Medica</p>
        </div>
    </div>
  </div>
</div>
